@import "tailwindcss";

.noto-sans-style{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}
.dancing-script-style{
  font-family: "Rouge Script", cursive;
  font-weight: lighter;
  font-optical-sizing: auto;
}
.floating-bar::before {
  content: '';
  position: absolute;
  inset: 0; /* top:0; left:0; right:0; bottom:0 */
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: -1;
}
.material-symbols-outlined{
  font-variation-settings:
  'FILL' var(--FILL,0),
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}