@import "tailwindcss";

.noto-sans-style{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}
.dancing-script-style{
  font-family: "Rouge Script", cursive;
  font-weight: lighter;
  font-optical-sizing: auto;
}
.floating-bar::before {
  content: '';
  position: absolute;
  inset: 0; /* top:0; left:0; right:0; bottom:0 */
  background: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: -1;
}
.material-symbols-outlined{
  font-variation-settings:
  'FILL' var(--FILL,0),
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  transition: all ease 200ms;
}
@keyframes shake{
  0%{transform: translateX(0px)}
  20%{transform: translateX(40px);}
  40%{transform: translateX(-40px)}
  60%{transform: translateX(20px)}
  80%{transform: translateX(-20px)}
  100%{transform: translateX(0px)}
}
.shake-div{
  animation-name: shake;
  animation-timing-function: linear;
  animation-duration: .3s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
.comment-container{
  display: grid;
  grid-template-rows:25px auto clamp(25px,2vh,60px);
  grid-template-columns: clamp(10px,14vw,60px) auto;
  grid-template-areas:"profile name"
                      "profile comment"
                      "profile like";
 row-gap:1px;
 column-gap: 15px;
}
.profile-picture-zone{grid-area: profile;}
.comment-zone{grid-area:comment;}
.like-zone{grid-area:like}
.name-zone{grid-area:name}